# ChatData Project - Retrieve User Activity Data on an Online Forum Using SQL


## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this. 

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability. 

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database

Importing Sqlite and the other libraries we will need.

In [67]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

### Creating the Database

Creating the Sqlite database through the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [68]:
# If the db does not exist, will be created through the following method:
con = sqlite3.connect('chatdata.db')

# loading the sql magic
%load_ext sql 

# connecting sql magic command to the correct db
%sql sqlite:///chatdata.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Dropping the `queries` table if it already exists

The table of queries will serve as a log of all queries made to address the questions in the requirements spreadsheet. Given that this Jupyter notebook will be executed multiple times, it's best to delete the queries table each time so that it is reinitialized. This can be done by using the %%sql magic command to indicate that we're writing SQL in the cell and executing the code to drop the table.

In [69]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Task 1: Load the Data

It is now time to commence loading the data. As the data is being loaded, the tables will be generated. It should be noted that some of the files are of considerable size, so it is important to ensure that there is sufficient memory available.

## Lifecycle Stages: Transform and Organise

The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

These files will be loaded into the sqlite database.

## Lifecycle Stage: Acquire

The data can be found in the OpenClassrooms instructions for this activity.

### Load Comments Data into a `comments` table

Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

The code reads a CSV file named "comments.csv" into a Pandas DataFrame called "comments". The "pd.read_csv" function is used to read the CSV file and convert it into a DataFrame. The "comments.head()" function is then called on the DataFrame, which returns the first 5 rows of the DataFrame. This is useful for quickly checking the contents of the DataFrame and verifying that the data has been loaded correctly.

In [70]:
comments = pd.read_csv('comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':
The code loads a Pandas DataFrame called "comments" into an SQLite database, replaces the table if it already exists, and reads the data back into a new DataFrame to verify that the data was loaded correctly. The first 5 rows of the DataFrame are displayed to check the contents.

In [71]:
# loading comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# reading back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs

Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite.

The tasks from the previous task are repeated here.

In [72]:
# loading posts into a pandas data frame

posts = pd.read_csv('posts.csv')

# and displaying them the head() function is used
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [73]:
# Loading the posts into SQLite
posts.to_sql('posts', con, if_exists='replace', index=False)

# reading back in to prove that it worked

sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [74]:
# loading users into a pandas data frame

users = pd.read_csv('users.csv')

# and to display them the head() function is used
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [75]:
# Loading the users into SQLite
users.to_sql('users', con, if_exists='replace', index=False)

# reading back in to prove that it worked

sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

### **TODO**: Drop Duplicates

Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

Checking for any duplicates in all three dataframes through the duplicated() method for the posts, comments and users.

In [76]:
comments[comments.duplicated()]

Empty DataFrame
Columns: [Id, PostId, Score, Text, CreationDate, UserId]
Index: []

In [77]:
posts[posts.duplicated()]

Empty DataFrame
Columns: [Id, PostTypeId, AcceptedAnswerId, ParentId, CreationDate, Score, ViewCount, Body, OwnerUserId, OwnerDisplayName, LastEditorUserId, LastEditorDisplayName, LastEditDate, LastActivityDate, Title, Tags, AnswerCount, CommentCount, FavoriteCount, ClosedDate, CommunityOwnedDate]
Index: []

[0 rows x 21 columns]

In [78]:
users[users.duplicated()]

Empty DataFrame
Columns: [Id, Reputation, CreationDate, DisplayName, LastAccessDate, WebsiteUrl, Location, AboutMe, Views, UpVotes, DownVotes, ProfileImageUrl, AccountId]
Index: []

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

Performing operations such as columns and head on the files in order to get more understanding of the data in the tables.

In [79]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [80]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [81]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [82]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [83]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [84]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic

In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.
Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic


It is now necessary to compose some queries to respond to the questions in the requirements. For single-line queries, start the code cell with %sql and input the query directly.

In [85]:
# This is an example
%sql SELECT COUNT(*) FROM comments;

 * sqlite:///chatdata.db
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

The query below retrieves the values of 4 columns (Id, PostId, Score, Text) from a table called "comments" and returns the first 5 rows of the result set, as specified by the "LIMIT 5" clause.

In [86]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas

Another way to write queries is to use pandas the example below shows the same code as above, but in pyhon pandas.

In [87]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When the CSV files were loaded into Sqlite database tables, Sqlite automatically created the tables in the background. To inspect these tables, one can query the sqlite_master table, which Sqlite uses to keep track of all the objects that have been created in the database.

In [88]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "sqlite:///chatdata.db" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

The code below drops the original tables:

In [89]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Proving that this worked by selecting the names of the tables back.  There should be no tables:

In [90]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('sqlite:///chatdata.db',)]

The enforcement of foreign key constraints needs to be enabled in SQLite:

In [91]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreating the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [92]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now doing the same for the posts table:

In [93]:
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY, 
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER, 
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT,
FOREIGN KEY(OwnerUserId) REFERENCES users(Id) );

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table. The primary key constraint needs to be added on the id here as it's been done for users and posts, but the FOREIGN KEY constraints needs to be added on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

In [94]:

%%sql
CREATE TABLE 'comments' (
'Id' INTEGER PRIMARY KEY,
'PostId' INTEGER,
'Score' INTEGER,
'Text' TEXT,
'CreationDate' TEXT,
'UserId' INTEGER,
FOREIGN KEY(PostId) REFERENCES 'posts'('Id'),
FOREIGN KEY(UserId) REFERENCES 'users'('Id') 
)

 * sqlite:///chatdata.db
Done.

[]

The data needs to be re-inserted into these constrained tables.  Firstly users:

In [95]:
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

In [96]:
# Inserting data into the new posts table
posts.to_sql('posts',con,if_exists='append',index=False)

42234

Finally comments, which references the users and posts tables:

In [97]:
# Inserting data into the new comments table
comments.to_sql('comments',con,if_exists='append',index=False)

50000

Now checking that we have the 3 new table definitions in Sqlite:

In [98]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('sqlite:///chatdata.db',), ('users',)]

All the data is now in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [99]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [100]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table

Now, it is necessary to insert the query into the queries table in Sqlite. The objective is to make the query accessible to everyone who should have access to it, and avoid the need for people to repeatedly write and re-write the same queries.
To achieve this, the easiest approach is to create a dictionary containing the values and insert them into the queries table. The values are provided as lists, as a number of rows are being inserted into the table, in this case, only one row, resulting in lists containing one item.

The table contains columns such as 'task', which has a list of values, and 'action', which has a list of values, etc.

In [101]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that we have the data structure (query_dict) containing the data, a pandas dataframe is created that holds those values:

In [102]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now loading that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [103]:
# loading query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# reading back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

In [104]:
# loading the 'queries' data into the sqlite database
queries.to_sql('queries', con, if_exists='append', index=False)

# reading the data back from the sqlite database and store it in the 'queries' DataFrame
queries = pd.read_sql('SELECT * FROM queries', con)

# displaying the first few rows of the 'queries' DataFrame to verify the data was loaded correctly
print(queries.head())

                   task                                             action  \
0  Single Table Queries  Which 5 users have viewed the most times and w...
1  Single Table Queries  Which 5 users have viewed the most times and w...

                                               query
0  \nSELECT Id, SUM(Views) AS TotalViews\n    FRO...
1  \nSELECT Id, SUM(Views) AS TotalViews\n    FRO...

As the user iterates through the notebook, they may create some duplicate entries in the queries table. This is not a problem, as they can easily remove the duplicates using either SQL or Pandas (which is more convenient in Pandas).
If the user decides to drop the duplicates using Pandas, they will need to write the entire dataframe back to Sqlite, since the changes made in memory in Pandas are not reflected in Sqlite on the disk drive. On the other hand, if the duplicates are dropped using SQL, the changes will be persisted in the database.
It is recommended to drop the duplicates at the end of the notebook to minimize the amount of time spent dealing with duplicates.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [105]:
# Defining a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # puting the query into the query_dict
    queries = pd.DataFrame(query_dict)

    # loading query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now specifying the queries and call the above function to store them.  The first one is already done.

In [106]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [107]:
# Proving it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.

Following the above pattern to complete these code cells:

In [108]:
# Inserting the CREATE TABLE for posts into the queries table

sql = """
CREATE TABLE "posts" (
        "Id" INTEGER NOT NULL PRIMARY KEY,
        "PostTypeId" INTEGER,
        "AcceptedAnswerId" INTEGER,
        "ParentId" INTEGER,
        "CreationDate" TEXT,
        "Score" INTEGER,
        "ViewCount" INTEGER,
        "Body" TEXT,
        "OwnerUserId" INTEGER,
        "OwnerDisplayName" TEXT,
        "LastEditorUserId" INTEGER,
        "LastEditorDisplayName" TEXT,
        "LastEditDate" TEXT,
        "LastActivityDate" TEXT,
        "Title" TEXT,
        "Tags" TEXT,
        "AnswerCount" INTEGER,
        "CommentCount" INTEGER,
        "FavoriteCount" INTEGER,
        "ClosedDate" TEXT,
        "CommunityOwnedDate" TEXT,
        FOREIGN KEY(OwnerUserId) REFERENCES users(Id)
        )
    """
store_query("Task 1", "Create Table posts", sql)

In [109]:
# Inserting the CREATE TABLE for users into the queries table

sql = """
CREATE TABLE "users" (
        "Id" INTEGER NOT NULL PRIMARY KEY,
        "Reputation" INTEGER,
        "CreationDate" TEXT,
        "DisplayName" TEXT,
         "LastAccessDate" TEXT,
        "WebsiteUrl" TEXT,
        "Location" TEXT,
        "AboutMe" TEXT,
        "Views" INTEGER,
        "UpVotes" INTEGER,
        "DownVotes" INTEGER,
        "ProfileImageUrl" TEXT,
        "AccountId" INTEGER
        )
    """

store_query("Task 1", "Create table users", sql)

In [110]:
# Confirming that the data is stored
# reading data back from database
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# displaying the first few rows of the data to confirm it matches the original data
print(queries.head())

                   task                                             action  \
0  Single Table Queries  Which 5 users have viewed the most times and w...
1  Single Table Queries  Which 5 users have viewed the most times and w...
2                Task 1                              Create table comments
3                Task 1                                 Create Table posts
4                Task 1                                 Create table users

                                               query
0  \nSELECT Id, SUM(Views) AS TotalViews\n    FRO...
1  \nSELECT Id, SUM(Views) AS TotalViews\n    FRO...
2  \n    CREATE TABLE "comments" (\n    "Id" INTE...
3  \nCREATE TABLE "posts" (\n        "Id" INTEGER...
4  \nCREATE TABLE "users" (\n        "Id" INTEGER...

## Count the Number of Rows in Each Table

Running some queries to count the number of rows in each of the tables.  Don't forget to insertomg the query into the queries table.

In [111]:
# Counting the number of rows in the comments table

sql = 'SELECT COUNT(*) FROM "comments" '

rows_count=pd.read_sql(sql,con)

store_query("Task 1", "Count the number of rows in the comments table", sql)
rows_count

   COUNT(*)
0     50000

In [112]:
# Counting the number of rows in the users table

sql = 'SELECT COUNT(*) FROM "users" '

rows_count_2=pd.read_sql(sql,con)

store_query("Task 1", "Count the number of rows in the comments table", sql)
rows_count_2

   COUNT(*)
0     18412

In [113]:
# Counting the number of rows in the posts table

sql = 'SELECT COUNT(*) FROM "posts" '

rows_count_3=pd.read_sql(sql,con)

store_query("Task 1", "Count the number of rows in the comments table", sql)
rows_count_3

   COUNT(*)
0     42234

## Do some Random Checks on the Data

Writing some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Entering the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

The SQL query will return 5 randomly selected rows from the "comments", 'users' and 'posts' table with all of the columns in each row.

In [114]:
%%sql
SELECT * FROM comments 
ORDER BY RANDOM() 
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(788485, 422586, 0, 'Thanks a lot for the suggestion!', '2019-08-17 13:34:04', 244640),
 (772839, 413984, 0, "Yes. There is a trick! Put all the variables AND the target (let's call it ```y```) in a ```data.frame``` (let's call it ```train_data```). Just what ... (18 characters truncated) ... odel, no extras. Then add ```lm(y~. , data=train_data)``` This will fit a model to predict ```y``` using the rest of the variable in ```train_data```", '2019-06-20 20:01:44', 238499),
 (746701, 398607, 0, '@KubiK888, "brute force" means this is all the possibilities that can exist. You wouldn\'t try to combine them, unless you want to use a Bayesian met ... (105 characters truncated) ... the underlying table looks like, these data have to show a significant change. You could give the ranges for the chi-squared statistic & the p-value.', '2019-03-20 21:25:08', 7290),
 (764087, 408815, 0, '@whuber yeah sorry you were correct. There was a mistake. Unfortunately  I overlooked it. It is 1/n not 1/2.', '2019-05-18 10:43:07', 248234),
 (742012, 395453, 0, '@FabianWerner. Then by definition of expectation the expected reward is therefore $\\sum_{a_0,...,a_{\\infty}}\\sum_{s_1,...,s_{\\infty}}\\sum_{r_1,. ... (163 characters truncated) ... g over $s_0$ because this is an expectation conditioned on $s_0$. rearranging the expectation above abit yields the very first equation of my answer.', '2019-03-04 23:43:08', 141941)]

In [115]:
%%sql
SELECT * FROM users 
ORDER BY RANDOM() 
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(8604, 113, '2012-01-18 19:31:16', 'LasEspuelas', '2019-09-10 20:18:30', None, None, None, 4, 6, 0, None, 1182350),
 (220099, 11, '2018-09-10 07:25:54', 'T Wu', '2019-11-05 06:41:45', None, None, None, 0, 0, 0, 'https://www.gravatar.com/avatar/a597515a7e5deec177225b864a52f536?s=128&d=identicon&r=PG&f=1', 14316004),
 (252048, 11, '2019-06-26 17:40:13', 'Daniel Kurniadi', '2019-11-30 10:19:01', None, 'Nanyang Walk Singapore Singapura', None, 1, 0, 0, 'https://lh4.googleusercontent.com/-_VbT8TZ2f5M/AAAAAAAAAAI/AAAAAAAAAFM/ZSplr4rJEt4/photo.jpg?sz=128', 12570135),
 (229128, 25, '2018-12-04 17:42:29', 'waynemystir', '2019-11-24 22:56:27', None, 'Englewood, NJ, United States', None, 1, 1, 0, 'https://www.gravatar.com/avatar/f7db3ed455bbf1d29857645c686efa92?s=128&d=identicon&r=PG', 2121348),
 (265916, 101, '2019-11-16 18:30:55', 'chefhose', '2019-11-29 18:11:47', None, None, '<p>Apparently, this user prefers to keep an air of icecream about them.</p>\n', 0, 1, 0, 'https://www.gravatar.com/avatar/813a37e0e0e35b4b6a5e27b881d7cfea?s=128&d=identicon&r=PG&f=1', 6106547)]

In [116]:
%%sql
SELECT * FROM posts 
ORDER BY RANDOM() 
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(394759, 1, 0, 0, '2019-02-27 19:39:14', 2, 48, '<p>Let\'s say you have multiple sources of observation weights for a dataset. For example, you have a <span class="math-container">$[0,1]$</span> wei ... (657 characters truncated) ...  of the above make (intuitive) sense on some level. Any ideas as to what is best practice or at least some pointers to literature on the topic?</p>\n', 10433, None, 0, None, None, '2019-02-27 19:39:14', 'Combining multiple observation weights for classification', '<regression><classification><weights><weighted-data>', 0, 0, 0, None, None),
 (391067, 2, 0, 336338, '2019-02-06 12:49:01', 0, 0, '<p>If you are interested in positive smoothing, another solution could be to re-parameterize the coefficients of your smoother (I think it is what th ... (1865 characters truncated) ... //i.stack.imgur.com/Zk6J1.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Zk6J1.png" alt="enter image description here"></a></p>\n', 228386, None, 228386, None, '2019-02-06 15:00:55', '2019-02-06 15:00:55', None, None, 0, 0, 0, None, None),
 (415185, 1, 0, 0, '2019-06-28 12:23:04', 1, 24, "<p>Where we have cluster-adjusted results from trials (summary statistics), under what circumstances can we include them in a standardised mean diffe ... (1217 characters truncated) ... the ns using the design effect and then calculate SMD and SE{SMD}. [edit: no, it isn't, see references provided by @Wolfgang]</p>\n\n<p>Thanks </p>\n", 252223, None, 252223, None, '2019-07-04 13:22:13', '2019-07-04 13:22:13', 'SMD meta-analysis including cluster-randomised trials: is it possible? If so, how?', '<meta-analysis><effect-size><cluster-sample>', 1, 2, 0, None, None),
 (396574, 1, 0, 0, '2019-03-09 19:47:31', 0, 11, '<p>I can not find clear literature on how to choose the penalty parameter in the logit multinomial ridge model. As read in the linear models and tryi ... (757 characters truncated) ... s it calculated like this?\n<span class="math-container">$GCV(\\lambda)_{1}=[(0,1,0)-(0.1,0.7,0.2)]^2$</span>\nis correct?</p>\n\n<p>Thank you!</p>\n', 224772, None, 0, None, None, '2019-03-09 19:47:31', 'choice of the lambda parameter in the logit multinomial ridge model', '<cross-validation><regularization><logit><ridge-regression><choice>', 0, 0, 0, None, None),
 (400725, 2, 0, 400316, '2019-04-02 07:59:04', -4, 0, '<p>Normal distributions are by definition non-skewed, so you can\'t have both things. If the distribution is left-skewed, then it cannot be Gaussian. ... (113 characters truncated) ... f="https://en.wikipedia.org/wiki/Skew_normal_distribution" rel="nofollow noreferrer">https://en.wikipedia.org/wiki/Skew_normal_distribution</a></p>\n', 238499, None, 0, None, None, '2019-04-02 07:59:04', None, None, 0, 5, 0, None, None)]

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze

We are starting the analysis with single-table queries. To aid in one of the queries, we need to create a new computed column. The code below adds a new column named LEN_BODY, which represents the length of the text in the BODY column.

In [117]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [118]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

### Single Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

Most queries will aim to follow the 

CORRECT KEYWORD ORDER
SQL is extremely sensitive to keyword order. So make sure you keep it right:
1. SELECT and COUNT as per requirement
2. FROM
3. WHERE
4. ORDER BY/GROUP BY as per requirement and vice versa
5. LIMIT

Or te second keyword order:


1. SELECT
2. FROM
3. JOIN (ON)
4. WHERE
5. GROUP BY
6. HAVING
7. ORDER BY
8. LIMIT

How many posts have 0 comments?
The query counts the number of posts where the number of comments is zero, and returns the result with the column name "comment_count".

In [119]:
%%sql
SELECT COUNT(*) AS comment_count
FROM posts
WHERE CommentCount = 0;

 * sqlite:///chatdata.db
Done.

[(21713,)]

How many posts have 1 comments?

This SQL query selects the count of all rows in the "posts" table where the "CommentCount" column has a value of 1, and the result is named "comment_count_1".

In [120]:
%%sql
SELECT COUNT(*) AS comment_count_1
FROM posts
WHERE CommentCount = 1;

 * sqlite:///chatdata.db
Done.

[(6460,)]

How many posts have 2 comments or more?

This SQL query returns the number of posts that have 2 or more comments by counting the entries in the "posts" table where the "CommentCount" column is greater than or equal to 2, and naming the result as "comment_count_2".

In [121]:
%%sql
SELECT COUNT(*) AS comment_count_2
FROM posts
WHERE CommentCount >= 2;

 * sqlite:///chatdata.db
Done.

[(14061,)]

Find the 5 posts with the highest viewcount.

The query selects all columns and orders the "posts" table by "ViewCount" in descending order, and returns the top 5 rows.

In [122]:
%%sql
SELECT *
FROM posts
ORDER BY ViewCount DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(388566, 1, 388582, 0, '2019-01-22 15:16:47', 56, 19542, '<ul>\n<li>Statement One (S1): "One in 80 deaths is caused by a car accident."</li>\n<li>Statement Two (S2): "One in 80 people dies as a result of a c ... (2000 characters truncated) ...  interpretation (their default for S2 is a much stronger assumption), or if they have some innate statistical sense that I\'m in fact lacking. </p>\n', 228214, None, 164061, None, '2019-01-22 21:40:39', '2019-01-24 17:09:47', 'Is it wrong to rephrase "1 in 80 deaths is caused by a car accident" as "1 in 80 people die as a result of a car accident?"', '<interpretation><risk>', 9, 15, 15, None, None, 2270),
 (394118, 1, 394128, 0, '2019-02-24 14:07:11', 64, 16317, '<p>A human child at age 2 needs around 5 instances of a car to be able to identify it with reasonable accuracy regardless of color, make, etc. When m ... (217 characters truncated) ... >What is it that artificial neural networks are missing that prevent them from being able to learn way quicker? Is transfer learning an answer?</p>\n', 107213, None, 7291, None, '2019-02-25 22:40:22', '2019-03-03 17:37:05', 'Why do neural networks need so many training examples to perform?', '<neural-networks><neuroscience>', 12, 24, 38, None, None, 512),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811),
 (398646, 1, 398653, 0, '2019-03-21 01:19:52', 61, 9850, '<p>The title of the Comment in Nature <a href="https://www.nature.com/articles/d41586-019-00857-9" rel="noreferrer">Scientists rise up against statis ... (1880 characters truncated) ... pft.jpg" rel="noreferrer"><img src="https://i.stack.imgur.com/tgpft.jpg" alt="Nature: Scientists rise up against statistical significance"></a></p>\n', 163067, None, 163067, None, '2019-03-22 22:14:04', '2019-03-30 19:35:27', 'What does "Scientists rise up against statistical significance" mean? (Comment in Nature)', '<statistical-significance><p-value><bias>', 10, 7, 34, None, None, 2148),
 (434128, 1, 434579, 0, '2019-11-01 13:07:36', 73, 6718, '<p>I am designing a one year program in data analysis with a local community college. The program aims to prepare students to handle basic tasks in d ... (891 characters truncated) ... ur in the area of variable selection and sampling design. I\'m interested in paradoxes that occur in other areas -- like the analysis as such. </p>\n', 14188, None, 0, None, None, '2019-11-26 00:59:15', 'Famous statistical wins and horror stories for teaching purposes', '<mathematical-statistics><data-visualization><experiment-design><teaching>', 13, 7, 70, None, '2019-11-01 15:12:41', 1172)]

Find the top 5 posts with the highest scores.

The query retrieves all columns and rows from the "posts" table, orders the results based on the "Score" column in descending order, and limits the result set to the first 5 rows.

In [123]:
%%sql
SELECT *
FROM posts
ORDER BY Score DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(431397, 2, 0, 431370, '2019-10-14 14:29:36', 101, 0, '<p>Yes there is. Generally it is termed <strong>base rate fallacy</strong> or more specific <strong>false positive paradox</strong>. There is even a wikipedia article about it: <a href="https://en.wikipedia.org/wiki/Base_rate_fallacy" rel="noreferrer">see here</a></p>\n', 142976, None, 0, None, None, '2019-10-14 14:29:36', None, None, 0, 0, 0, None, None, 269),
 (394128, 2, 0, 394118, '2019-02-24 15:44:44', 100, 0, '<p>I caution against expecting strong resemblance between biological and artificial neural networks. I think the name "neural networks" is a bit dang ... (5584 characters truncated) ... l volume, diversity and resolution of the training data.</p>\n\n<p>*We don\'t presently have a tags for one-shot learning or few-shot learning.</p>\n', 22311, None, 22311, None, '2019-03-03 17:37:05', '2019-03-03 17:37:05', None, None, 0, 15, 0, None, None, 5829),
 (426878, 2, 0, 426873, '2019-09-11 23:23:31', 93, 0, '<p><strong>tl;dr</strong> Even though this is an image classification dataset, it remains a <strong>very easy</strong> task, for which one can easily ... (4424 characters truncated) ... and out more\n    frame1 = plt.gca()\n    frame1.axes.get_xaxis().set_visible(False)\n    frame1.axes.get_yaxis().set_visible(False)\n</code></pre>\n', 119015, None, 119015, None, '2019-09-13 14:02:28', '2019-09-13 14:02:28', None, None, 0, 6, 0, None, None, 4627),
 (388578, 2, 0, 388566, '2019-01-22 15:48:47', 80, 0, '<p>To me "1 in 80 deaths..." is by far the clearer statement.  The denominator in your "1 in 80" is the set of all death events and that statement ma ... (282 characters truncated) ... rence set in probability or frequency assertions like this. If you\'re talking about the proportion of deaths, then say "deaths" not "people". </p>\n', 227039, None, 0, None, None, '2019-01-22 15:48:47', None, None, 0, 11, 0, None, None, 572),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811)]

What are the 5 most frequent scores on posts?

https://stackoverflow.com/questions/12235595/find-most-frequent-value-in-sql-column 
SELECT
  <column_name>,
  COUNT(<column_name>) AS `value_occurrence` 

FROM
  <my_table>

GROUP BY 
  <column_name>

ORDER BY 
  `value_occurrence` DESC

LIMIT 1;

This query retrieves the 5 most frequent scores and their count from the posts table and orders them by their count in descending order.

In [124]:
%%sql
SELECT Score, COUNT(Score) AS count
FROM posts
GROUP BY Score
ORDER BY count DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

How many posts have the keyword "data" in their tags?

This query selects the count of posts where the "Tags" column contains the word "data", and names the result "tag_count".

In [125]:
%%sql
SELECT COUNT(Tags) AS tag_count
FROM posts
WHERE Tags LIKE "%data%";

 * sqlite:///chatdata.db
Done.

[(2242,)]

What are the 5 most frequent commentcount for posts?

This query returns the count of occurrences of each CommentCount value and orders them in descending order, limited to the top 5 results.

In [126]:
%%sql
SELECT CommentCount, 
COUNT(CommentCount)
AS count
FROM posts
GROUP BY CommentCount
ORDER BY count DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

How many posts have an accepted answer?

This query selects the number of posts with an AcceptedAnswerId and orders them by the value of AcceptedAnswerId.

In [127]:
%%sql
SELECT AcceptedAnswerId,
COUNT(*) AS AACount
FROM posts
WHERE AcceptedAnswerId > 0
ORDER BY AcceptedAnswerId;

 * sqlite:///chatdata.db
Done.

[(385150, 5341)]

What is the average reputation of table users?

This query selects the rounded average value of the "Reputation" column from the "users" table, with 3 decimal places, and assigns the result to a column named "avgrep".

In [128]:
%%sql
SELECT ROUND(AVG(Reputation), 3) AS avgrep
FROM users;

 * sqlite:///chatdata.db
Done.

[(312.351,)]

What are the min and max reputation of users?

This query retrieves the minimum and maximum values of the 'Reputation' column from the 'users' table.

In [129]:
%%sql
SELECT MIN(Reputation) AS MinRep,
MAX (Reputation) AS MaxRep
FROM users;

 * sqlite:///chatdata.db
Done.

[(1, 228662)]

What is the length of the body of 5 most viewed posts?

This SQL query selects the most viewed posts (based on the ViewCount column) and the length of their body text (based on the Len_Body column), ordering them by the ViewCount in descending order and limiting the result to the top 5.

In [131]:
%%sql
SELECT ViewCount AS "Top 5 Most Viewed Posts", Len_Body AS "Body Length"
FROM posts
ORDER BY ViewCount DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(19542, 2270), (16317, 512), (11723, 811), (9850, 2148), (6718, 1172)]

How many different locations are there in the users table?

This SQL query retrieves the count of unique location values from the users table and returns the result as "Number of Distinct Locations".

In [132]:
%%sql
SELECT COUNT(DISTINCT(Location))
AS LocCount FROM (
SELECT Location
FROM users
GROUP BY Location
);

 * sqlite:///chatdata.db
Done.

[(1900,)]

In [134]:
%%sql
SELECT COUNT(Location) AS "Number of Distinct Locations"
FROM (
SELECT DISTINCT Location
FROM users
);

 * sqlite:///chatdata.db
Done.

[(1900,)]

What are the top 5 locations of users?

Here there a two versions of the query. 
The first query selects the top 5 locations based on the number of users in each location, and the count of users in each location, and orders the results in descending order by the count of users.
The second query is counting the number of occurrences of each unique location in the "Location" column (and the main idea is to limit by Location) of the "users" table, grouping them by location and ordering the result by the count of each location in descending order, and limiting the result to the top 5 locations with the highest count.

In [135]:
%%sql
SELECT Location, COUNT(*)
AS LocCount
FROM users
GROUP BY Location
ORDER BY LocCount DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(None, 13335),
 ('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66)]

In [136]:
%%sql
SELECT Location, COUNT(Location)
AS LocCount
FROM users
GROUP BY Location
ORDER BY LocCount DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.

https://stackoverflow.com/questions/37303779/sql-calculate-percentage-on-countcolumn 

This is a query that uses a CASE statement to convert a number representing the day of the week to its corresponding name, and then calculates the percentage of ViewCount for each day of the week in the posts table, sorted by the highest Percentage_ViewCount.

In [137]:
%%sql
SELECT  CASE 
            WHEN DayOfWeekNumber = 0 THEN 'Sunday'
            WHEN DayOfWeekNumber = 1 THEN 'Monday'
            WHEN DayOfWeekNumber = 2 THEN 'Tuesday'
            WHEN DayOfWeekNumber = 3 THEN 'Wednesday'
            WHEN DayOfWeekNumber = 4 THEN 'Thursday'
            WHEN DayOfWeekNumber = 5 THEN 'Friday'
            ELSE 'Saturday' 
    END as DayOfWeek,ViewCountPCT
FROM (SELECT CAST (strftime('%w', CreationDate) AS INTEGER) as DayOfWeekNumber,
           (cast(sum(ViewCount) as float)/cast((select sum(ViewCount) from posts)as float) *100.0) as ViewCountPCT 
FROM posts   
GROUP BY DayOfWeekNumber
ORDER BY ViewCountPCT DESC)

 * sqlite:///chatdata.db
Done.

[('Thursday', 16.81947628859075),
 ('Wednesday', 16.76868913850077),
 ('Tuesday', 16.255033686441863),
 ('Monday', 15.806726735198032),
 ('Friday', 13.563061049604485),
 ('Sunday', 11.89560881413273),
 ('Saturday', 8.891404287531374)]

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze

Continueing the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. Using the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Using the pattern that you have been using above.

How many posts have been created by a user that has a filled out the "AboutMe" section?

This query returns the count of the number of rows in the users table which have a non-null value in the AboutMe column and a corresponding post made by that user in the posts table (through the INNER JOIN based on the Id and OwnerUserId columns).

In [143]:
%%sql
SELECT COUNT(*) AS AboutMeCount
FROM users
INNER JOIN posts ON posts.OwnerUserId = users.Id
WHERE AboutMe IS NOT NULL;

 * sqlite:///chatdata.db
Done.

[(17189,)]

Considering only the users with an "AboutMe," how many posts are there per user?

This query calculates the average number of posts per user by counting the total number of posts and dividing it by the total number of unique users, where AboutMe is not null, through an inner join on the users and posts tables based on the OwnerUserId and Id columns respectively.

In [149]:
%%sql
SELECT (count(Posts.Id))/(count(DISTINCT users.Id)) AS "Number of Posts Per User"
FROM users 
INNER JOIN posts ON posts.OwnerUserId = users.Id
WHERE AboutMe IS NOT NULL;

 * sqlite:///chatdata.db
Done.

[(5,)]

Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?

This query retrieves the 10 posts with the most number of comments by joining the posts and comments tables on their shared PostId column, grouping by PostId, counting the number of comments per post, ordering the posts by the number of comments in descending order, and limiting the result to the first 10 posts.

In [150]:
%%sql
SELECT PostId, COUNT(comments.Id) AS "Number of Comments per Post"
FROM posts
LEFT JOIN comments ON posts.Id = comments.PostId
GROUP BY posts.Id
ORDER BY COUNT(comments.Id) DESC
LIMIT 10;

 * sqlite:///chatdata.db
Done.

[(386853, 66),
 (386556, 34),
 (395232, 31),
 (418910, 31),
 (402987, 27),
 (386075, 26),
 (394118, 24),
 (398828, 23),
 (402950, 23),
 (396111, 22)]

What are the Top 10 posts which have the highest cummulative (post score + comment score) score? 

Using the previous query, 
- Sum the post score and the scores of all comments of that same post
- Show the post ids 
Don't forget to calculate sum of all the comment scores on a particular post.

Therefore, this query calculates the cumulative score of the top 10 posts based on the sum of their individual post scores and the scores of their associated comments and orders the result by the cumulative score in descending order.

In [159]:
%%sql
  SELECT PostId,(TotalComScore + TotalPostScore ) as CummentScore FROM
    (SELECT PostId,sum(comments.score) as TotalComScore ,sum(posts.score) as TotalPostScore FROM posts
    INNER JOIN comments ON posts.Id = comments.PostId
    GROUP BY PostId,posts.Score
    ORDER BY TotalComScore DESC
    LIMIT 10)
    ORDER BY CummentScore DESC;

 * sqlite:///chatdata.db
Done.

[(394118, 1778),
 (394128, 1569),
 (398653, 1021),
 (388578, 941),
 (388566, 885),
 (398646, 465),
 (421677, 392),
 (420526, 317),
 (386571, 197),
 (393336, 125)]

Who are the top 10 users who comment the most? 

This statement returns the top 10 users based on the number of comments they made, and the number of posts they created, along with their reputation, by combining the user and comment tables and grouping the data by UserId and ordering it based on the count of comments, then the count of posts, in descending order.

In [165]:
%%sql
SELECT UserId, users.Reputation,count(PostId) AS PostsNumber, count(Text) AS CommentsNumber FROM users
    LEFT JOIN comments ON users.Id = comments.UserId
    GROUP BY UserId
    ORDER BY CommentsNumber DESC,PostsNumber DESC
    LIMIT 10;

 * sqlite:///chatdata.db
Done.

[(919, 223056, 3301, 3301),
 (805, 228662, 1153, 1153),
 (143489, 2890, 1024, 1024),
 (11887, 39200, 805, 805),
 (85665, 17391, 691, 691),
 (164061, 13485, 540, 540),
 (22047, 41385, 536, 536),
 (158565, 6482, 504, 504),
 (7962, 8030, 492, 492),
 (35989, 71548, 470, 470)]

Who are the top 10 users who post the most?

This query selects the top 10 users by number of posts, sorting first by the number of posts in descending order, and then by their reputation in descending order, and returns their UserId, Reputation, and the number of posts they've made.

In [166]:
%%sql
SELECT UserId, users.Reputation,count(PostId) AS PostsNumber FROM users
    LEFT JOIN comments ON users.Id = comments.UserId
    GROUP BY UserId
    ORDER BY  PostsNumber DESC ,users.Reputation DESC
    LIMIT 10;

 * sqlite:///chatdata.db
Done.

[(919, 223056, 3301),
 (805, 228662, 1153),
 (143489, 2890, 1024),
 (11887, 39200, 805),
 (85665, 17391, 691),
 (164061, 13485, 540),
 (22047, 41385, 536),
 (158565, 6482, 504),
 (7962, 8030, 492),
 (35989, 71548, 470)]

In [86]:
SELECT (Score + SUM(Score)) AS CS, COUNT(*) AS N, P.Id 
FROM Posts P JOIN Comments C ON C.postsId = P.Id GROUP BY P.Id, P.Score 
ORDER BY CS DESC 
LIMIT 10;

SyntaxError: invalid syntax (3721073761.py, line 1)

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [107]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create Table posts', '\nCREATE TABLE "posts" (\n        "Id" INTEGER NOT NULL PRIMARY KEY,\n        "PostTypeId" INTEGER,\n        "AcceptedAnswerId" INTEGER,\n        "Pa ... (461 characters truncated) ... unt" INTEGER,\n        "ClosedDate" TEXT,\n        "CommunityOwnedDate" TEXT,\n        FOREIGN KEY(OwnerUserId) REFERENCES users(Id)\n        )\n    '),
 ('Task 1', 'Create table users', '\nCREATE TABLE "users" (\n        "Id" INTEGER NOT NULL PRIMARY KEY,\n        "Reputation" INTEGER,\n        "CreationDate" TEXT,\n        "DisplayNa ... (135 characters truncated) ... ws" INTEGER,\n        "UpVotes" INTEGER,\n        "DownVotes" INTEGER,\n        "ProfileImageUrl" TEXT,\n        "AccountId" INTEGER\n        )\n    '),
 ('Task 1', 'Count the number of rows in the comments table', 'SELECT COUNT(*) FROM "comments" '),
 ('Task 1', 'Count the number of rows in the comments table', 'SELECT COUNT(*) FROM "users" '),
 ('Task 1', 'Count the number of rows in the comments table', 'SELECT COUNT(*) FROM "posts" ')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [108]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [109]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()
    
queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
2,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
3,TASK 1,CREATE TABLE POSTS,"\nCREATE TABLE ""POSTS"" (\n ""ID"" INTEGER..."
4,TASK 1,CREATE TABLE USERS,"\nCREATE TABLE ""USERS"" (\n ""ID"" INTEGER..."
5,TASK 1,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,"SELECT COUNT(*) FROM ""COMMENTS"""
6,TASK 1,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,"SELECT COUNT(*) FROM ""USERS"""
7,TASK 1,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,"SELECT COUNT(*) FROM ""POSTS"""

In [110]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

7

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [111]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',)]

## Now Your Turn

Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

This last SQL query selects the 'query' column from the 'queries' table where the 'query' column contains the word 'DISTINCT'.

In [87]:
%%sql
SELECT query 
    FROM queries
        WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [88]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.